html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0a1b29;
}

.container {
    width: 100%;
    /* position: relative; */
    /* overflow-y: scroll; */
}


/* jane html */

.box {
    height: 100%;
    padding: 20px;
    color: #fff;
    background: #157a79;
    padding: 30px;
}

.header {
    /* height: 450px; */
    color: #0a1b29;
    background: #ffbe26;
}

.margin-top-80 {
    margin-top: 80px;
}

.star-img {
    position: absolute;
    left: 10px;
    top: 400px;
    opacity: 0.5;
    width: 25%;
}


/* ----------------------- */


/* naz html */

.bmiscatter {
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.main {
    margin: 50px 100PX;
}


/* -------------- */

h3>img {
    margin-left: 10px;
}

div.datafields {
    height: 99%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
}

div>p {
    /* margin-top: 50px; */
    padding: 0px 25px 25px 50px;
}

h3 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline #ffbe26;
    color: white;
    margin-bottom: 4px;
    text-align: left;
    padding-left: 75px;
    padding-top: 70px;
}

#box {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline #ffbe26;
    color: white;
    margin-bottom: 4px;
    text-align: left;
    padding: 0;
}

div.box>p {
    padding: 0px 20px;
}

div.box>h3 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline #ffbe26;
    color: white;
    margin-bottom: 4px;
    text-align: left;
    /* padding-left: 75px; */
}

.objective-text {
    margin: 30px;
    font-size: 16px;
}

h4 {
    margin-left: 100px;
    padding-top: 70px;
    font-family: 'Oswald', sans-serif;
}

div.main>h4 {
    margin-left: 100px;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
}

h5 {
    margin-left: 110px;
    font-size: 16px;
    font-weight: bold;
    color: #c16248;
    font-family: 'Oswald', sans-serif;
    margin-top: 40px;
    /* padding-top: 40px; */
    height: 20px;
}

figure {
    float: right;
    width: 40%;
    height: 300px;
    margin: 0px 5px 40px 10px;
}

h5.predict-title {
    font-size: 16px;
}

span {
    padding: 0px 25px 25px 25px;
    margin-left: 45px;
    margin-bottom: 30px;
}

span.top-talent-title {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

a.nav-link,
a.active {
    font-family: 'Fjalla One', sans-serif;
}

.player-predict {
    height: 500px;
    /* background-color: yellow; */
}

.row-player-details {
    margin: 0;
    padding: 10px;
    height: 100%;
    background-image: url("../../static/images/person-template.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.prow-details {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

p.list-details {
    margin: 0;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}

.equationp {
    float: right;
    width: 30%;
    margin-right: 5%;
}

.lead {
    float: right;
    width: 30%;
}

#select-player {
    width: 100%;
    color: white;
    font-weight: normal;
}

div.player-details {
    margin: 0;
    padding: 10px 10px 10px 100px;
    /* background-color: green; */
    text-align: right;
}

div.player-list {
    margin: 0;
    padding: 10px;
    background-color: #167a7a;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.stat-header {
    font-size: 10px;
    font-weight: normal;
    margin: 0px 0px 15px 0px;
    text-align: right;
    width: 100%;
}

.nav-link {
    text-transform: uppercase;
}

h1 {
    font-family: sans-serif;
    font-size: 128px;
    margin: 0;
    line-height: 1em;
    font-weight: bold;
    color: #D68FB5;
}

blockquote {
    margin: 30px;
    margin-left: 10%;
}

.injuries-container {
    background-color: black;
}

*/
/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    ...
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    ...
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
}