html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0a1b29;
}

.container {
    width: 100%;
    /* position: relative; */
    /* overflow-y: scroll; */
}

div.datafields {
    height: 99%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
}

div>p {
    /* margin-top: 50px; */
    padding: 0px 25px 25px 25px;
}

h4 {
    margin-left: 100px;
    padding-top: 70px;
    font-family: 'Oswald', sans-serif;
}

span.top-talent-title {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

a.nav-link,
a.active {
    font-family: 'Fjalla One', sans-serif;
}

.player-predict {
    height: 500px;
    /* background-color: yellow; */
}

.row-player-details {
    margin: 0;
    padding: 10px;
    height: 100%;
    background-image: url("../../static/images/person-template.png");
    background-size: contain;
    background-repeat: no-repeat;
}

div.player-details {
    margin: 0;
    padding: 10px 10px 10px 200px;
    /* background-color: green; */
}

div.player-list {
    margin: 0;
    padding: 10px;
    background-color: #167a7a;
}


/* 
body {
    padding: 50px;
    background-color: #EAC5D8;
}

h1 {
    font-family: sans-serif;
    font-size: 128px;
    margin: 0;
    line-height: 1em;
    font-weight: bold;
    color: #D68FB5;
} */


/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    ...
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    ...
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0;
        /* position: relative; */
        /* overflow-y: scroll; */
    }
}