<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA Stats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fabiola.css') }}">
</head>

<body>
    <div class="container">
        <nav id="navigation" class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="#">NBA Projection</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#objectives">objectives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page1">page1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page2">page2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page3">page3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#page4">page4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page5">page5</a>
                </li>

            </ul>
        </nav>
        <div data-spy="scroll" data-target="#navigation" data-offset="0" class="datafields">
            <div id="content"
                <div class="col-md-12 text-center">
                    <h4 id="objectives">NBA Player's Injury Analysis</h4>
                    <br>
            <p>
                In this analysis we take a close look at the correlation between income, and the days of games missed due to injuries. 
                The last two slides provide a list of players with the highest and lowest number of games missed. Our findings indicate there are many players with successful careers in spite of multiple injuries. 
                A good example is Kevin Love, who has 82 days of games missed due to injuries, but has a long career (10 years of experience), and  makes $28.9 million. </p>
            <p>   
           
        <div class='tableauPlaceholder' id='viz1601006649752' style='position: absolute;margin-left: 300px'>
            <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NB&#47;NBAPlayersInjuriesAnalysis&#47;NBAPlayersInjuries&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='NBAPlayersInjuriesAnalysis&#47;NBAPlayersInjuries' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NB&#47;NBAPlayersInjuriesAnalysis&#47;NBAPlayersInjuries&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en' />
                <param name='filter' value='publish=yes' />
            </object></div>                
            <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1601006649752');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='800px';vizElement.style.height='827px';                    
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>  
       
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
        <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
</body>

</html>