<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA Stats</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body data-spy="scroll">
    <div class="container-fluid">


        <nav id="navigation" class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="#">NBA Projection</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#objectives">objectives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page1">page1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page2">page2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page3">page3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#page4">page4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page5">page5</a>
                </li>

            </ul>
        </nav>




        <div data-target="#navigation" data-offset="0" class="datafields">

            <h4 id="objectives">objectives</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiat lectus. In tristique aliquet diam, vitae porttitor lacus lobortis ac. Sed orci massa, viverra eu quam nec, tincidunt feugiat leo. Integer vitae lorem id magna ullamcorper vehicula. Suspendisse a magna pellentesque,
                pretium metus vitae, aliquet elit. Mauris dictum volutpat quam sed pulvinar. Aenean convallis feugiat iaculis. Praesent sed molestie ante, id condimentum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Maecenas et neque a tortor iaculis mattis. Nullam eget dui quis lectus aliquet volutpat ornare vel ante. Sed imperdiet urna ac nibh ullamcorper, eget facilisis leo bibendum. Duis vel nisi urna. Vivamus sit amet condimentum ipsum.
                Vestibulum commodo orci sem, ac lacinia sapien luctus at. In ac laoreet lacus. Quisque malesuada neque nulla, et hendrerit orci placerat vitae. Nullam ac leo a purus aliquam dictum eget sit amet ex. In nisl massa, vehicula vitae dapibus
                quis, ultrices id velit. Suspendisse potenti. Nam eu lorem faucibus ligula suscipit sodales. Sed consequat dolor at nisl laoreet, vel rutrum mi hendrerit. Mauris nec mattis magna. Proin nec efficitur orci. In porttitor ex non purus vehicula
                ultrices. Suspendisse tincidunt convallis nunc, et sagittis velit varius ac. Nam eu pellentesque neque. Aenean vitae sem dignissim, elementum urna vitae, fringilla ipsum. Aenean accumsan quis dui ac vestibulum. Curabitur aliquet varius
                lacus, quis molestie massa venenatis sed. Cras nisl eros, rutrum nec risus ac, suscipit luctus ex. Nunc ultrices nulla non sem tristique fermentum. Nam sagittis arcu quis metus vehicula, id consectetur odio tristique. Proin ut convallis
                felis. Proin nulla purus, fringilla id dapibus sit amet, maximus id tellus. Maecenas enim lectus, dignissim eget porttitor eget, semper eu mi. Pellentesque enim ligula, feugiat ut nibh et, ultrices tempor lorem. Praesent feugiat nisl at
                varius efficitur. In ac tortor nec enim blandit suscipit at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue.
                Suspendisse potenti. Ut at est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>


            <h4 id="page1">page1</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiat lectus. In tristique aliquet diam, vitae porttitor lacus lobortis ac. Sed orci massa, viverra eu quam nec, tincidunt feugiat leo. Integer vitae lorem id magna ullamcorper vehicula. Suspendisse a magna pellentesque,
                pretium metus vitae, aliquet elit. Mauris dictum volutpat quam sed pulvinar. Aenean convallis feugiat iaculis. Praesent sed molestie ante, id condimentum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Maecenas et neque a tortor iaculis mattis. Nullam eget dui quis lectus aliquet volutpat ornare vel ante. Sed imperdiet urna ac nibh ullamcorper, eget facilisis leo bibendum. Duis vel nisi urna. Vivamus sit amet condimentum ipsum.
                Vestibulum commodo orci sem, ac lacinia sapien luctus at. In ac laoreet lacus. Quisque malesuada neque nulla, et hendrerit orci placerat vitae. Nullam ac leo a purus aliquam dictum eget sit amet ex. In nisl massa, vehicula vitae dapibus
                quis, ultrices id velit. Suspt at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue. Suspendisse potenti. Ut at
                est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>

            <h4 id="page2">objectives</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiat lectus. In tristique aliquet diam, vitae porttitor lacus lobortis ac. Sed orci massa, viverra eu quam nec, tincidunt feugiat leo. Integer vitae lorem id magna ullamcorper vehicula. Suspendisse a magna pellentesque,
                pretium metus vitae, aliquet elit. Mauris dictum volutpat quam sed pulvinar. Aenean convallis feugiat iaculis. Praesent sed molestie ante, id condimentum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Maecenas et nequeit suscipit at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue. Suspendisse potenti.
                Ut at est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>

            <h4 id="page3">page1</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugcipit at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue. Suspendisse potenti. Ut at
                est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>

            <h4 id="page4">objectives</h4><br>


            <div class='col-lg-8 player-predict '>
                <div class='row top-talent-title'>
                    <h5>2020 TOP YOUNG TALENT, UNDER 3 YEARS IN THE LEAGUE (YIL)</h5>
                </div>
                <div class='row row-player-details'>
                    <div class='col player-details'>player-details</div>
                    <div class='col player-list'>player-list</div>
                </div>
            </div>



            <h4 id="page5">page1</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiaecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>



        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript" src="./static/js/app.js" type="module"></script>

        <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

        <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</body>

</html>