<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA Stats</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body data-spy="scroll">
    <div class="container-fluid">


        <nav id="navigation" class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="#"><strong>NBA Analysis:</strong> Salary Expectations to Performance</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#objective">objective</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#bmi">BMI/Health</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#injury">Injury</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#allstar">All-Star</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#salaryPerformance">Salary/Performance</a>
                </li>

            </ul>
        </nav>




        <div data-target="#navigation" data-offset="0" class="datafields">

            <h4 id="objective">objective</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiat lectus. In tristique aliquet diam, vitae porttitor lacus lobortis ac. Sed orci massa, viverra eu quam nec, tincidunt feugiat leo. Integer vitae lorem id magna ullamcorper vehicula. Suspendisse a magna pellentesque,
                pretium metus vitae, aliquet elit. Mauris dictum volutpat quam sed pulvinar. Aenean convallis feugiat iaculis. Praesent sed molestie ante, id condimentum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Maecenas et neque a tortor iaculis mattis. Nullam eget dui quis lectus aliquet volutpat ornare vel ante. Sed imperdiet urna ac nibh ullamcorper, eget facilisis leo bibendum. Duis vel nisi urna. Vivamus sit amet condimentum ipsum.
                Vestibulum commodo orci sem, ac lacinia sapien luctus at. In ac laoreet lacus. Quisque malesuada neque nulla, et hendrerit orci placerat vitae. Nullam ac leo a purus aliquam dictum eget sit amet ex. In nisl massa, vehicula vitae dapibus
                quis, ultrices id velit. Suspendisse potenti. Nam eu lorem faucibus ligula suscipit sodales. Sed consequat dolor at nisl laoreet, vel rutrum mi hendrerit. Mauris nec mattis magna. Proin nec efficitur orci. In porttitor ex non purus vehicula
                ultrices. Suspendisse tincidunt convallis nunc, et sagittis velit varius ac. Nam eu pellentesque neque. Aenean vitae sem dignissim, elementum urna vitae, fringilla ipsum. Aenean accumsan quis dui ac vestibulum. Curabitur aliquet varius
                lacus, quis molestie massa venenatis sed. Cras nisl eros, rutrum nec risus ac, suscipit luctus ex. Nunc ultrices nulla non sem tristique fermentum. Nam sagittis arcu quis metus vehicula, id consectetur odio tristique. Proin ut convallis
                felis. Proin nulla purus, fringilla id dapibus sit amet, maximus id tellus. Maecenas enim lectus, dignissim eget porttitor eget, semper eu mi. Pellentesque enim ligula, feugiat ut nibh et, ultrices tempor lorem. Praesent feugiat nisl at
                varius efficitur. In ac tortor nec enim blandit suscipit at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue.
                Suspendisse potenti. Ut at est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>


            <h4 id="bmi">BMI / Health</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiat lectus. In tristique aliquet diam, vitae porttitor lacus lobortis ac. Sed orci massa, viverra eu quam nec, tincidunt feugiat leo. Integer vitae lorem id magna ullamcorper vehicula. Suspendisse a magna pellentesque,
                pretium metus vitae, aliquet elit. Mauris dictum volutpat quam sed pulvinar. Aenean convallis feugiat iaculis. Praesent sed molestie ante, id condimentum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Maecenas et neque a tortor iaculis mattis. Nullam eget dui quis lectus aliquet volutpat ornare vel ante. Sed imperdiet urna ac nibh ullamcorper, eget facilisis leo bibendum. Duis vel nisi urna. Vivamus sit amet condimentum ipsum.
                Vestibulum commodo orci sem, ac lacinia sapien luctus at. In ac laoreet lacus. Quisque malesuada neque nulla, et hendrerit orci placerat vitae. Nullam ac leo a purus aliquam dictum eget sit amet ex. In nisl massa, vehicula vitae dapibus
                quis, ultrices id velit. Suspt at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue. Suspendisse potenti. Ut at
                est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>

            <h4 id="injury">Injury</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugiat lectus. In tristique aliquet diam, vitae porttitor lacus lobortis ac. Sed orci massa, viverra eu quam nec, tincidunt feugiat leo. Integer vitae lorem id magna ullamcorper vehicula. Suspendisse a magna pellentesque,
                pretium metus vitae, aliquet elit. Mauris dictum volutpat quam sed pulvinar. Aenean convallis feugiat iaculis. Praesent sed molestie ante, id condimentum velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Maecenas et nequeit suscipit at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue. Suspendisse potenti.
                Ut at est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>

            <h4 id="allstar">All-Star</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros magna, vulputate sit amet urna nec, dignissim egestas arcu. Nulla consequat vitae magna at tristique. Duis ac consectetur nulla, in tristique risus. Fusce eget sem eget lacus ultricies
                dictum. Ut sit amet feugcipit at et lectus. Donec at rhoncus justo. Pellentesque at blandit ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sed porta augue. Suspendisse potenti. Ut at
                est quis purus ullamcorper maximus. Maecenas fringilla quam justo, sit amet mattis mi interdum at. In hac habitasse platea dictumst. Quisque at nisi sem. </p>




























            <h4 id="salaryPerformance">Salary / Performance</h4><br>

            <p>
                An individual is paid to perform at a professional level in any sport and/or career field of their choice. The better the performance, the better pay. The chart focuses on the 2020 season and players who have 3 years or less in the NBA. The chart ranks
                the player by thier Performance Efficiency Rating (PER).
                <span>
                <h5>Performance Efficiency Rating (PER)</h5> <span> Performance Efficiency Rating gives positives for scoring if you shoot a decent percentage.</span>
                <blockquote class="blockquote">
                    <p class="mb-0">'Breakeven' Shooting %:</br> 2P = 37.5%, 3P = 28%, FT = 65%.</p>
                </blockquote>
                <span class='equationp'><p class="text-right"> Equation:
                <br> Simple PER is calculated as follows: (2FG Made * 2) - (2FG Attempted *.75) + (3FG Made * 3) – (3FG Attempted * .84) + (FT Made) - (FT Attempted * -.65) + Rebounds + Assists + Blocks + Steals - Turnovers.
            </span>


                <span>If a player scores a ton of points but shoots a very low percentage then they would not have a positive Simple PER. </span>


            </p>
            </span>

            <h5>Research: Assigning Independent/Dependent features, Multi-Logistic Regression</h5>
            <span>If a player has played 'x' amount of minutes played, we use multi-linear regression to predict and approximate amount of minutes played based on the stats (independent features) provided. The correlation percentage of this model is approximately 96% correct
            in predicting minutes needed for independent features passed. found throughout the dataset and similar correlations. We can use this tool to visualize which players around the league are over/under performing to their 'salary expectations'.
            Additionally, the tool can provide insight on future players to acquire or look out for. The PER score is a good place to start when ranking player efficiency... as explained above. Eventually this tool allow comparing by all years, position
            and year range.</span>


            <h5>Estimate amount of minutes needed <span class="badge badge-success">~96%</span></h5>

            <figure class="figure text-right">
                <img src="../static/images/scatter-temp.jpg" class="figure-img img-fluid rounded" alt="scatter plot. minutes to points - first year of player career">
                <figcaption class="figure-caption text-right">annual total points scored by total minutes. Color represents year in the league (1-5). - first year of player career</figcaption>
            </figure>
            <span> Multiple Linear Regression, using multiple sklearn modules, was used to fit the models. The dependent features for the first regression is Minutes Played(MIN). Independent features include: Player age, years in the league, round number picked, overall pick, games played, games started, field goals made, field goal assists, field goal percentage, 3 points made, 3 points attempted, 3 point percent, free throws made, free throws attempted, free throw percentage, offensive rebounds, defensive rebounds, rebounds, assists, steals, blocks, turnovers, pf, points, performance efficienct report, all star appearances, injuries per year.</span>


            </span>


            <h5>Estimated minutes to Salary<span class="badge badge-warning">~46%</span></h5>

            <span> Due to the high prediction score, the second regression adds predicted minutes and year of player record along with the features mentioned as the Independent features. Salary is the Dependent feature. </span>
            </p>



            <div class='container'>
                <div class='col-lg-8 player-predict'>
                    <div class='row top-talent-title'>
                        <span>
                        <h5 class='predict-title'>2020 Season. 3 Years or less in the NBA.</h5>top over performers /salary</span>
                    </div>
                    <div class='row row-player-details'>
                        <div class='col player-details'>PLAYER</div>
                        <div class='col player-list'>Top 10 Players</div>
                    </div>
                </div>

            </div>



        </div>


        <script src="https://d3js.org/d3.v4.min.js"></script>

        <script type="text/javascript" src="./static/js/app.js" type="module"></script>



        <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

        <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</body>

</html>