<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NBA Stats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/jane.css" />
</head>

<body>
    <div class="container">
        <nav id="navigation" class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="#">NBA Projection</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#objectives">objectives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page1">page1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page2">page2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page3">page3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#page4">page4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#page5">page5</a>
                </li>

            </ul>
        </nav>
        <div data-spy="scroll" data-target="#navigation" data-offset="0" class="datafields">
            <div id="content">
                <br>
                <br>
                <br>
                <br>

                <div class="col-md-12 text-center">
                    <h1>NBA All Stars vs Salary</h1>
                    <p>
                        There's a clear correlation between All Star achievement and salary, as the highest salaries over the years are the All Star players. 
                    </p>
                    <div style="max-width: 100%" id="myDiv" class="js-plotly-plot">
                    </div>
                    <br>
                    <br>
                    <h3>Prediction Models</h3>
                    <p>
                        In order to take a deep dive in understanding the factors that most impact a players path to All Stars and higher salary, we ran classification models: Decision Tree and Random Forest.
                    </p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Decision Tree</th>
                            <th scope="col">Random Forest</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>95.91% Accuracy</td>
                            <td>97.46% Accuracy</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <p>
                        Based on the Random Forest model, we ranked the features by importance to identify the top stats that impact a player's success to the All Stars games:
                    </p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Feature</th>
                                <th scope="col">Importance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PTS - Points</td>
                                <td>23.36%</td>
                            </tr>
                            <tr>
                                <td>PIE - Player Impact Estimate</td>
                                <td>15.99%</td>
                            </tr>
                            <tr>
                                <td>USG - Usage Player Was Involved in</td>
                                <td>8.99%</td>
                            </tr>
                            <tr>
                                <td>PASG - Prior All Star Games</td>
                                <td>8.17%</td>
                            </tr>
                            <tr>
                                <td>W - Wins</td>
                                <td>7.10%</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <h4><a href="../js/tree.html" target="_blank">Click here for an interactive decision tree</a></h4>

                </div>

            </div>
        </div>

        



        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="../js/jane.js" type="text/javascript"></script>
    </body>

</html>